@media (max-width: 480px) {
  #navbar > div {
    border-radius: 0.5rem !important;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: none;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #navbar > div {
    max-width: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    backdrop-filter: none !important;
  }
}
